/* Write your CSS code here */
.login-image {
  width: 70%;
}
.login-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.login-image-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .login-image-form-container {
    display: flex;
    flex-direction: column;
  }
  .website-logo-image-2 {
    display: none;
  }
  .website-logo-image-1 {
    width: 60%;
  }
  .login-image {
    width: 60%;
  }
  .login-img-container {
    display: flex;
    justify-content: center;
  }
  .form-cont {
    width: 90%;
  }
}

@media screen and (min-width: 769px) {
  .website-logo-image-1 {
    display: none;
  }
}
.form-cont {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 20px;
  border: none;
  border-radius: 10px;
  height: 320px;
  width: 300px;
}
.input-element {
  outline: none;
  background-color: #e6f6ff;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
}
.error-message {
  color: red;
  font-size: 12px;
}
.website-logo-image-2 {
  width: 70%;
}
.image-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.label-name {
  font-size: 12px;
  color: #475569;
  font-weight: 600;
}
